/* NAVBAR MAIN */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255,255,255,0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  z-index: 1000;
}

/* SPACE AND LAYOUT */
.nav-container {
  max-width: 1100px;
  margin: auto;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  font-size: 28px;
  font-weight: 800;
  color: #2563eb;  /* blue */
  cursor: pointer;
}

/* NAV LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-links li a {
  font-size: 18px;
  color: #444;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #2563eb; /* blue */
}

/* RESUME BUTTON */
.resume-btn {
  background: #2563eb;
  color: white;
  padding: 8px 18px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.resume-btn:hover {
  background: #1e47b9;
}
