.projects {
  padding: 80px 20px;
  background: #f9fbff;
}

.projects-container {
  max-width: 1100px;
  margin: auto;
}

.projects-title {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #2563eb;
  margin-bottom: 40px;
}

.project-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.project-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #2563eb;
}

.project-card ul {
  margin-top: 10px;
  padding-left: 20px;
}
